{% extends 'layout.html' %}

{% block title %}
    about
{% endblock %}

{% block body %}
    <p>the internet has made it possible to connect with billions of people all over the world, 
    but we're feeling lonelier than ever. this is a place to share something meaningful with another
    human. get something off your chest. confess your darkest desires. share
    your innermost secrets. there is no catch here. you don't have to buy anything. you won't see
    any advertisements. you're not being tracked. you will remain completely anonymous. come here to
    connect with another lost soul—two flickering candles in the dark.</p>

    <p>every spoken word is a unique event that can never be replicated—a singular occurence
    in the history of the universe. the ephemeral nature of human interaction increases the weight
    of every syllable, imparting layers of meaning to every conversation. this site aims to capture
    some of that power. each confession is a unique event. one person confesses and one person listens. 
    after a confession is heard it disappears forever, only existing in the memory of the sinner and the priest.
    </p>
{% endblock %}