{% extends "layout.html" %}

{% block title %}
    confess
{% endblock %}

{% block body %}
    <form action="/confess" method="post">    
        <label for="confession">what do you want to say?</label>
        <div class="input-group">
            <textarea class="form-control" name="confession" cols="40" rows="8"></textarea>
        </div>
        
        <button class="btn btn-outline-secondary" type="submit">confess</button>
    </form>
{% endblock %}

{% block script %}
    
{% endblock %}